/*------- 11. About style ------ */

.team-area {
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
  font-family: $poppins;
  text-shadow: 0 0 black;
  width: 17vw;
  text-align: center;
  padding: 2%;
  margin-left: 2vw;
  margin-top: -720px;
}

.team-wrapper {
  // background-color: #f9f7e8;
  .team-img {
    position: relative;

    img {
      width: 100%;
    }

    .team-action {
      background: #fff none repeat scroll 0 0;
      left: 0;
      opacity: 0;
      padding: 10px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 70%;
      transform: translateY(-50%);
      transition: all 0.6s ease 0s;
      width: 53vh;
      z-index: 5;

      a {
        border-radius: 50px;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        width: 30px;
        margin: 0 3px;
        &.check {
          border: 1px solid #3b5998;
          background-color: #3b5998;
          &:hover {
            background-color: transparent;
            color: #3b5998;
          }
        }
        &.remove {
          border: 1px solid rgb(207, 39, 39);
          background-color: rgb(207, 39, 39);
          &:hover {
            background-color: transparent;
            color: rgb(207, 39, 39);
          }
        }
      }
    }
  }
  .team-content {
    background-color: #f9f7e8;
    padding: 1vh 2vw 4vh 2vw;
    color: black;
    width: 13vw;

    h4 {
      font-size: 1.2vw;
      font-weight: 500;
      margin: 3.5vh 0 1vh;
      text-transform: capitalize;
    }
    span {
      display: block;
      font-size: 1vw;
      font-style: italic;
    }
  }
  &:hover .team-action {
    top: 350%;
    opacity: 1;
    width: 15.5vw;
  }
}

// @media(max-width: 2560px) {
//   .team-area {
//     width: 35vw;
//     margin-left: 18vw;
//     margin-top: -65vw;
//   }
//   .team-wrapper:hover .team-action {
//     width:  31vw;
//     top: 11vw;
//   }
// }
// @media(max-width: 1920px) {
//   .team-area {
//     width: 41vw;
//     margin-left: -6vw;
//     margin-top: -65vw;
//   }
//   .team-wrapper:hover .team-action {
//     width: 30.3vw;
//     top: 10.5vw;
//   }
// }
// @media(max-width: 1080px) {
//   .team-area {
//     width: 33vw;
//     margin-left: -11vw;
//     margin-top: -81vw;
//   }
//   .team-wrapper:hover .team-action {
//     width: 31vw;
//   }
// }
// @media(width: 1440px) {
//   .team-area {
//     width: 46vw;
//     margin-left: -9vw;
//     margin-top: -80vw;
//   }
//   .team-wrapper:hover .team-action {
//     width: 44vw;
//   }
// }
// @media(max-width: 1024px) {
//   .team-area {
//     width: 37vw;
//     margin-left: -11vw;
//     margin-top: -83vw;
//   }
//   .team-wrapper:hover .team-action {
//     width: 295px;
//   }
// }
